<div>
  <div data-controller="youtube" data-action="
  keydown.t@document->youtube#play 
  keydown.y@document->youtube#play
  keydown.u@document->youtube#play
  keydown.g@document->youtube#play
    ">
    <div id="player" data-youtube-target="frame"></div>
    <div>
      <%= form_with(local: true, data: { action: "input->youtube#isValidSubmit submit->youtube#embedVideo"}) do |f| %>
        <div>
          <%= f.url_field :url, class: "form-control ignore-keydown",data: { youtube_target: "url", action: "input->youtube#url_validation" } %>
          <p data-youtube-target="error_url"></p>
          <%= f.submit "submit" ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded", disabled: true, data: { youtube_target: "submit" } %>
        </div>
      <% end %>
    </div>
    <div class="flex">
      <div>
        <div data-action="click->youtube#play" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:T</p>
          </div>
        </div>
        <div>
          <div>
            key:T<input data-youtube-target="t_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:Y</p>
          </div>
        </div>
        <div>
          <div>
            key:Y<input data-youtube-target="y_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:U</p>
          </div>
        </div>
        <div>
          <div>
            key:U<input data-youtube-target="u_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:G</p>
          </div>
        </div>
        <div>
          <div>
            key:G<input data-youtube-target="g_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:H</p>
          </div>
        </div>
        <div>
          <div>
            key:H<input data-youtube-target="h_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
