<div id="topIndex">
  <div id="youtube" class="hidden md:block" data-controller="youtube" data-youtube-step-sequencer-outlet=".step-sequencer" data-action="
    keydown.t@document->youtube#play 
    keydown.y@document->youtube#play
    keydown.u@document->youtube#play
    keydown.g@document->youtube#play
    keydown.h@document->youtube#play
    keydown.j@document->youtube#play
    keydown.b@document->youtube#play
    keydown.n@document->youtube#play
    keydown.m@document->youtube#play
    ">
    <%= render 'shared/play_beat' %>
  </div>
  <!-- desktop usage recommendation on the mobile size access -->
  <div class="h-full">
    <%= render 'shared/mobile_size' %>
  </div>
</div>
