<div class="container">
  <div class="p-4">
    <div class="flex items-center">
      <div class="p-4">
        <div class="border border-black">
          <div class="px-4 py-2 font-bold">hihats</div>
        </div>
      </div>
      <div>
        <div class="flex">
          <div class="flex" id="bar1">
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
          </div>
          <div class="flex" id="bar_2">
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
          </div>
          <div class="flex" id="bar_3">
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
          </div>
          <div class="flex" id="bar_4">
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
            <div class="border border-black aspect-square p-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>