    <div class="flex">
      <div>
        <div data-action="click->youtube#play" id="t_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:T</p>
          </div>
        </div>
        <div>
          <div>
            key:T<input data-youtube-target="t_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="y_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:Y</p>
          </div>
        </div>
        <div>
          <div>
            key:Y<input data-youtube-target="y_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="u_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:U</p>
          </div>
        </div>
        <div>
          <div>
            key:U<input data-youtube-target="u_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="g_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:G</p>
          </div>
        </div>
        <div>
          <div>
            key:G<input data-youtube-target="g_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="h_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:H</p>
          </div>
        </div>
        <div>
          <div>
            key:H<input data-youtube-target="h_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="j_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:J</p>
          </div>
        </div>
        <div>
          <div>
            key:J<input data-youtube-target="j_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="b_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:B</p>
          </div>
        </div>
        <div>
          <div>
            key:B<input data-youtube-target="b_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="n_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:N</p>
          </div>
        </div>
        <div>
          <div>
            key:N<input data-youtube-target="n_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
      <div>
        <div data-action="click->youtube#play" id="m_pad" class="border border-black bg-green-100 aspect-square w-20">
          <div>
            <p>key:M</p>
          </div>
        </div>
        <div>
          <div>
            key:M<input data-youtube-target="m_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>