<div class="border border-black bg-gray-400 flex items-center justify-center aspect-square w-80 rounded-md">
  <div class="grid grid-cols-3 aspect-square w-72 gap-3">
    <div>
      <div id="t_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="t_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="y_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="y_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="u_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="u_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="g_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="g_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="h_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="h_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="j_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="j_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="b_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="b_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="n_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="n_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="m_pad" class="border border-black bg-gray-100 aspect-square flex items-center justify-center rounded-sm">
        <div>
          <div>
            <input data-youtube-target="m_start_time" type="time" class="icon-del font-bold ignore-keydown" value="00:00">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>