<div class="container">
  <div>
    <div>
      <div>
        <div id="player" data-youtube-target="frame"></div>
      </div>
      <div>
        <%= form_with(local: true, class: "flex items-center", data: { action: "input->youtube#isValidSubmit submit->youtube#embedVideo"}) do |f| %>
          <p data-youtube-target="error_url"></p>
          <div class="p-4">
            <%= f.submit "submit" ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded", disabled: true, data: { youtube_target: "submit" } %>
          </div>
          <div>
            <%= f.url_field :url, class: "form-control ignore-keydown border border-black",data: { youtube_target: "url", action: "input->youtube#url_validation" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>